{% extends "base.html" %}
{% from "projects/_quick_edit.html" import quick_edit_dialog %}
{% block body %}
{{ super() }}
{{ quick_edit_dialog() }}
{% endblock %}
{% block extra_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock %}
{% block body_attrs %}{{ super() }} data-workspace="projects" data-work-user="{{ current_user.id }}"{% endblock %}
{% block scripts %}
{{ super() }}
<script type="module" src="{{ url_for('static', filename='js/modules/projects.js') }}"></script>
{% endblock %}
